*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

.a-header{
    text-decoration: none;
    color: white;
}

.cabecalho01-header{
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-header{
    display: flex;
}

.menu-header li{
    margin-left: 10px;
}

.menu-header li a{
    display: block;
    padding: 10px;
}


.menu-header{
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #1d1e20;
    height: 0px;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
}

#nav.active .menu-header{
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
}

.menu-header .a-header {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

#btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    gap: .5rem;
}

#hamburger{
    display: block;
    border-top: 2px solid;
    width: 20px;
}

#hamburger::after, #hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#nav.active #hamburger {
    border-top-color: transparent;
}

#nav.active #hamburger::before{
    transform: rotate(135deg);
} 

#nav.active #hamburger::after{
    transform: rotate(-135deg);
    top: -7px;
}